<section>
  <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">
    <div>
      <owl-carousel-o [options]="customMainSlider">
        <ng-template carouselSlide>
          <img src="/images/img1.avif" class="w-full h-[300px]" alt="">
        </ng-template>  

        <ng-template carouselSlide>
          <img src="/images/img2.avif" class="w-full h-[300px]" alt="">
        </ng-template>  

        <ng-template carouselSlide>
          <img src="/images/img3.avif" class="w-full h-[300px]" alt="">
        </ng-template>  

        <ng-template carouselSlide>
          <img src="/images/img4.avif" class="w-full h-[300px]" alt="">
        </ng-template>  

        <ng-template carouselSlide>
          <img src="/images/img5.avif" class="w-full h-[300px]" alt="">
        </ng-template>  

        <ng-template carouselSlide>
          <img src="/images/img6.avif" class="w-full h-[300px]" alt="">
        </ng-template>  
      </owl-carousel-o>
    </div>

    <div>
      <img src="/images/grocery-banner.png" class="w-full h-[150px]" alt="">
      <img src="/images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="">
    </div>
  </div>
</section>

<section>
  <h2>Popular Categories</h2>
  <owl-carousel-o [options]="customOptions">
    @for (cat of categories(); track cat._id) {
      <ng-template carouselSlide>
        <div>
          <img [src]="cat.image" class="w-full h-[250px]" alt="">
          <h3 class="text-green-600">{{cat.name}}</h3>
        </div>
      </ng-template>
    }
  </owl-carousel-o>
</section>

<section>
  <h1>{{ myDate | date }}</h1>

  <h2 class="text-4xl">Popular Products </h2>
  <input [(ngModel)]="hamada" type="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 mx-auto p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    @for (prod of products().slice(0,12) | search : hamada; track prod.id) {
      <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative group">
        
        <!-- Heart Icon (Always Visible) -->
        <button 
          (click)="toggleWishlist(prod.id)" 
          class="absolute top-4 right-4 z-10 text-2xl  w-10 h-10 flex items-center justify-center heart-btn">
          <i class="fas fa-heart" [ngClass]="{'text-red-500': isInWishlist(prod.id), 'text-gray-400': !isInWishlist(prod.id)}"></i>
        </button>

        <div [routerLink]="['/details', prod._id]">
          <div class="card-img">
            <img [src]="prod.imageCover" class="w-full h-[250px] object-contain" [alt]="prod.title" />
          </div>
          <div class="card-body px-2 py-4">
            <h4 class="text-green-500 text-xs">{{prod.category.name}}</h4>
            <h3 class="font-medium">{{prod.title.split(' ',2).join(' ')}}</h3>
            <div class="flex justify-between items-center">
              <span>{{prod.price | currency : "EGP"}}</span>
              <div class="flex items-center">
                <i class="fas fa-star text-yellow-300"></i>
                <span class="text-gray-500">{{prod.ratingsAverage}}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Add To Cart Button (Hidden by Default, Appears on Hover) -->
        <button 
          (click)="addToCart(prod.id)" 
          class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block add-to-cart">
          Add To Cart
        </button>

      </div>
    }
  </div>
</section>
